// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.nav{
    height: fit-content !important;
}

.container{
  max-width: inherit !important;
}
.to_container{
  height: 1097px !important;
}
.header{
  height: 1097px !important;
}

.First{
  background-color: #000000;
}
.Inspiration{
  padding: 20px;
}
.Second{
  margin-top: 20px;
}

.slide{
  margin-left: 233px;
  margin-top: 20px;
  height:1097px;
  width:1409px;
}
